<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" id="logo">
      <%= image_tag "foocorp.svg" %>
    </span>

    <div class="user_admin">
      <%= image_tag "admin.svg" %>
      <a href="">Name</a>
    </div>
  </div>
</nav>

<div class="main">
  <div class="table">
    <h1>Employees<h1>
    <table class="employee">
    <thead>
      <tr>
        <th class="employee__title">Employees#</th>
        <th class="employee__title">Private#</th>``
        <th class="employee__title">Name</th>
        <th class="employee__title">Email</th>
        <th class="employee__title">Position</th>
        <th class="employee__title">Company</th>
        <th class="employee__title">Edit</th>
        <th class="employee__title">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @employee.each do |employee| %>
        <tr>
          <td class="employee__data"><%= employee.employee_num %></td>
          <td class="employee__data"><%= employee.private_num %></td>
          <td class="employee__data"><%= employee.name %></td>
          <td class="employee__data"><%= employee.email %></td>
          <td class="employee__data"><%= employee.position %></td>
          <td class="employee__data"><%= employee.company_id %></td>
          <td class="employee__data"><%= link_to edit_employee_path(employee)do %> <%= image_tag "edit.svg" %> <% end %> </td>
          <td class="employee__data"><%= link_to employee_path(employee) , method: :delete ,data: {confirm: "Are you sure ?"} do%> <%= image_tag "disable.svg" %> <% end %> </td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <div class="addButton">
      <%= link_to '<input class="button" type="button" value="Add">'.html_safe, new_employee_path %>
    </div>
  </div>
</div>
