<%= render "shared/header" %>

<div class="main">
  <div class="table">
    <h1>Company Branches<h1>
    <table class="employee">
      <thead>
        <tr>
          <th class="employee__title">Name</th>
          <th class="employee__title">Address</th>
          <th class="employee__title">Edit</th>
          <th class="employee__title">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @company.each do |company| %>
          <tr>
            <td class="employee__data"><%= company.name %></td>
            <td class="employee__data"><%= company.address %></td>
            <td class="employee__data"><%= link_to edit_company_path(company) do%> <%= image_tag "edit.svg" %> <% end %> </td>
            <td class="employee__data"><%= link_to company_path(company) , method: :delete ,data: {confirm: "Are you sure ?"} do%> <%= image_tag "disable.svg" %> <% end %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="addButton">
      <%= link_to '<input class="button" type="button" value="Add">'.html_safe, new_company_path %>
    </div>
  </div>
</div>
