<%= render "shared/header" %>

<div class="main">
  <div class="resources">
    <h2 class='title'>Create Company</h2>
    <%= form_with scope: :company, url: companies_path, local:true, class:'form' do |f|%>
      <%= f.label :name ,class: 'form__label'%>
      <%= f.text_field :name, class: 'form__input' %>
      <%= f.label :address ,class: 'form__label'%>
      <%= f.text_field :address, class: 'form__input' %>
      <div class="col">
        <%= link_to '<input class="form__button" type="button" value="Back">'.html_safe, companies_path %>
        <%= f.submit class: 'form__button' %>
      </div>
    <% end %>
    <% if @company.errors.any? %>
      <h3 class="Error_title"> The following errors prevented the Company from being saved</h3>
      <ul>
      <% @company.errors.full_messages.each do |msg|%>
        <li><span><%= msg %></span></li>
      <% end %>
      </ul>
    <% end %>
  </div>

</div>
