<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" id="logo">
      <%= image_tag "foocorp.svg" %>
    </span>

    <div class="user_admin">
      <%= image_tag "admin.svg" %>
      <a href="/users/login">Admin</a>
    </div>
  </div>
</nav>

<div class="main">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form__input', placeholder: "Email"%>
      <%= f.password_field :password, autocomplete: "current-password" , class: 'form__input', placeholder: "Password"%>
      <%= f.submit "Log in", class: 'form__input form__button'%>
    </div>
  <% end %>
</div>
